.menu {
    list-style: none;
    padding: 0%;
    background:#09ebfc;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: #234E7A;
    padding: 10px;
    display: block;
    font-family: Arial Black;
    font-size: 11px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #7a7a79;
}

.boton1 {
    background: #234E7A;
    color: #ffffff;
    padding: 10px;
    display: block;
    font-family: Arial Black;
    font-size: 11px;
    border-radius: 10px;
} 

.azul-claro {
    color: #4C83F0;
    font-family: Arial Black;
    font-size: 18px;
    padding-top: 37px;
}

.azul-oscuro {
    color: #234E7A;
    font-family: Arial Black;
}

.parrafo {
    color: #fefefe;
    font-family: Arial Black;
    font-size: 26px;
    padding-top: 100px;
}

.logo {
    height: 250px;
    width: 350px;
    float: left;
}

.boton {
    background-color: #234E7A;
    height: 50px;
    width: 200px;
    font-family: Arial Black;
    background-repeat: initial;
    border-top: 3px solid #4C83F0;
    box-shadow: 5px 5px 8px #90a7d6;
    border-width: 3px solid #4C83F0;
    border-radius: 10px;
}

.img1 {
    z-index: 1;
    height: 650px;
    width: 100%;
}

.encabezado{
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}


.lineadetres {
    height: 150px;
    width: 250px;
}  
.redes
{
    height: 650px;
    width: 250px;
} 

.Imagen3 {
    position: relative;
top: -8em;
left: 25em;
}

.bordes {
    border: rgb(255, 213, 213);
    border-width: 10px;
    border-style: solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.contacto {
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Sans serif';
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 150vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_nav h1{
    color: #fff;
    font-family: 'Gagalin';
}

.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 600px;
    display: block;
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}