*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-content{
    position: fixed;
    left: 0;
    top: 250px;
    z-index: 2000;
}
.navbar-content{
    list-style: none;
}
.navbar-content ul li a{
display: inline-block;
color: #fff;
background: #000;
padding: 10px 15px;
text-decoration:none;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;

}

.navbar-start ul li .icon-facebook{background:#2c2e30;}
.navbar-start ul li .icon-twitter{background:#6ad1f9;}
.navbar-start ul li .icon-instagram{background:#f3f0f4;}
.navbar-start ul li .icon-email{background:bisque}


.navbar-start ul li a:hover{
background:#000
padding: 10px 80px}
.fondo {
    background-color: #3ac2f7;
}